body {
  margin: 0;

}
/*header style*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  height: 80px;
  z-index: 1;
  padding: 20px 40px;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  }
.logo p {
  color: MediumAquamarine;

}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
li {
  display: inline-block;
  list-style-type: none;
  padding-right: 50px;
}
a {
  color: black;
}
