body {
  margin: 0;

  h2 {
    border: 1px solid black;
  }


}
/*header style*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  height: 80px;
  z-index: 1;
  padding: 20px 40px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  }

.logo p {
  color: MediumAquamarine;

}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

li {
  display: inline-block;
  list-style-type: none;
  padding-right: 50px;
}

a {
  color: black;
}

.main {
  display: flex;
  border: 1px solid black;
}

/*large column left*/
.large {
  display: flex;
  width: 630px;
  padding: 20px 10px;
  border: 1px solid black;
  margin: 10px;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 130px;
}

.story {
  border: 1px solid black;
  padding: 10px;
  font-family: Georgia;
  font-size: 17px;
  color: black
}

.image-main {
  display: flex;
  border: 1px solid black;
  background-image: image(resources/images/img-story-main.png);
  height: 350px;

}

.image2 {
  display: flex;
  background-image: image(../resources/images/img-story-2.png);
  text-align: center;
  border: 1px solid black;
}

.image3 {
  display: flex;
  background-image: image(../resources/images/img-story-3.png);
  border: 1px solid black;
}

/*medium column middle*/

.medium {
  display: flex;
  margin-top: 130px;
  width: 300px;
  border: 1px solid black;
  padding: 20px 10px;
  flex-direction: column;
}

.image1 {
  display: flex;
  background-image: image(../resources/images/img-story-1.png);
  text-align: center;
  background-position: center;
  border: 1px solid black;
}

/*small column*/

.small {
  display: flex;
  margin-top: 130px;
  width: 240px;
  padding: 20px 10px;
  border: 1px solid black;
  flex-direction: column;
}
